
.slick-prev:before, .slick-next:before {
  color: black !important;
}

.cliente{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  background: #C29CD3;
  width: calc(35% - 2.5rem);
  height: 7.3125rem;
  margin: 10px;
  margin-bottom: 0.625rem;
  padding: 1rem;
  border-radius: 0.625rem;
}


.img-style {
  max-width: 100%;
}

@media (max-width: 992){
  .img-style{
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}

